.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f1111;
  color: white;
  padding: 5px;
  height: 60px;
}
.nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
.logo {
  font-size: 30px;
  margin-left: 10px;
}

.search-btn {
  background-color: #f0880f;
}

.myclass {
  background-color: blueviolet;
  color: aliceblue;
  height: 80px;
}

.myclass p {
  font-size: 20px;
  font-weight: bold;
  display: wrap;
  text-align: center;
}

.heading {
  text-align: center;
  color: red;
}
.btn1 {
  display: grid;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  text-align: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  text-decoration: blueviolet underline;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.text {
  font-size: 20px;
  text-transform: uppercase; /* and also use uppercase, lowercase, capitalize */
  font-weight: bold;
  color: blue;
}

#outer {
  font-size: 25px;
}

#inner {
  font-size: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightslategray;
  border: 2px solid black;
  height: 300px;
  width: 300px;
}

.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightslategray;
  border: 2px solid black;
  border-radius: 20px;
  height: 300px;
  width: 300px;
}
.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightslategray;
  border: 2px solid black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.div-display {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.b1,
.b2,
.b3 {
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: rgba(100, 110, 200, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
}

.flex-Ex {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  width: 800px;
  height: 300px;
  border: 2px solid black;
}

#box1 {
  background-color: #8E3B46;
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
#box2 {
  background-color:#E1DD8F ;
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
#box3 {
  background-color:#E0777D ;
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
#box4 {
  background-color: #4C86A8;
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
#box5 {
  background-color: #477890;
  color: white;
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
